<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="multipleCSV" value="true"/>
	</appSettings>
	<system.serviceModel>
		<services>
			<service name="Service.FileHandlingService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4020"/>
					</baseAddresses>
				</host>
				<endpoint address="IFileHandling"
                          binding="netTcpBinding"
                          contract="Common.IFileHandling"
                          />
			</service>
		</services>
	</system.serviceModel>
</configuration>