<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="xmlPath" value="C:/Temp/LOAD_DATA.xml"/>
    <add key="savePath" value="C:/Temp/CSV/"/>
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint name="FileHandlingService"
                address="net.tcp://localhost:4020/IFileHandling"
                binding="netTcpBinding"
                contract="Common.FileHandling.IFileHandling"
                />
    </client>
  </system.serviceModel>
</configuration>